<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="styles.css" rel="stylesheet" type="text/css">
        <title>Welcome to the Regitrar's Office</title>
    </head>

    <body>
        <div class="container jumbotron" id="big_box">
            <div class = "row">
                <h2>registrar database:</h2>

                <div class = "col-xs-6">
                    <form action="/courses_page" method="get">
                        <div class="form-group has-primary">
                            <label for = "course">course name:</label>
                            <input class="form-control" type="text" id="course_name" name="course_name" class="form-control" placeholder="ex: Introduction to Jerky">
                            <label for = "course">course reference id:</label>
                            <input class="form-control" type="text" id="course_reference" name="course_reference" class="form-control" placeholder="ex: JRK_101">

                        </div>
                        <button type="submit" class="btn btn-success">add</button></br>
                        <button type="submit" class="btn btn-warning">delete last</button></br>
                        <button type="submit" class="btn btn-danger">delete all</button></br>
                    </form>
                </div>

                <div class = "col-xs-6">
                    <form action="/students_page" method="get">
                        <div class="form-group has-primary">
                            <label for = "course">student name:</label>
                            <input class="form-control" type="text" id="student_name" name="student_name" class="form-control" placeholder="ex: Brittanica Williams">
                            <label for = "course">student enrollment date:</label>
                            <input class="form-control" type="date" id="student_enrollment" name="student_enrollment" class="form-control" placeholder="ex: 12-01-2009">

                        </div>
                        <button type="submit" class="btn btn-success">add</button></br>
                        <button type="submit" class="btn btn-warning">delete last</button></br>
                        <button type="submit" class="btn btn-danger">delete all</button></br>
                    </form>
                </div>

        </div>
    </body>
</html>
