<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="styles.css" rel="stylesheet" type="text/css">
        <title>Welcome to the Regitrar's Office</title>
    </head>

    <body>
        <div class="container jumbotron" id="big_box">
            <form action="/results" method="get">
                <div class="form-group has-primary">

                    <input class="form-control" type="text" id="student" name="student"  placeholder="student">

                    <input class="form-control" type="text" id="course" name="course" class="form-control" placeholder="classes">

                </div>
                <div col-sm-4 id="left_col">
                    <h5>registrar information stuff above:</h5>
                </div>
                <div col-sm-4 id="right_col">
                  <button type="submit" class="btn btn-success">enter</button>
                </div>
            </form>
        </div>
    </body>
</html>
